body { 
  background-image: url('../img/bg.jpg');
  color: #000000;
	margin-top: 25px;
	margin-right:25px;
	margin-bottom:15px;
	margin-left:25px;
}

.content {
	color: #000000;
	margin: 1em;
  }
.nav-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.nav-link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF6699;
	text-decoration: underline;
	font-weight: bold;
}
