body {
	background-image: url('../img/bg.jpg');
	color: #000000;
}

.container {
	width: 100%;
	text-align: left;
}

.sidebar {
	width: 140px;
	top: 0px;
	left: 7px;
	position: absolute;
}

.content {
	position: absolute;
	color: #000000;
	width: 500px;
	top: 36px;
	margin-left: 140px;
}

.player-container {
	padding: 5px;
}

.nav-dropdown-toggle-emoji-link {
	text-decoration: none;
}

.nav-dropdown-toggle-emoji {
	font-size: 2.5rem;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.nav-emoji {
	font-size: 20px;
}

.nav-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	line-height: 1.5em;
}

.nav-url {
	text-decoration: none;
}

.nav-link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF6699;
	font-weight: bold;
}

.nav-text {
	vertical-align: text-bottom;
}


/* Extra small devices in portrait (phones, 400px and down) */

@media only screen and (max-width: 340px) {
	.content {
		width: 270px;
		margin-left: 25px;
	}
	.nav-text {
		visibility: hidden;
	}
	.nav-link:hover > .nav-text {
		visibility: visible;
	}
}

@media only screen and (min-width: 340px) and (max-width: 450px) {
	.content {
		width: 310px;
		margin-left: 36px;
	}
	.nav-text {
		visibility: hidden;
	}
	.nav-link:hover > .nav-text {
		visibility: visible;
	}
}

@media only screen and (max-width: 700px) and (min-width: 450px) {
	.content {
		width: 340px;
		margin-left: 120px;
	}
	.sidebar {
		width: 110px;
	}
	.nav-text {
		font-size: 10px;
	}
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
	.sidebar {
		width: 130px;
	}
	.content {
		width: 425px;
		margin-left: 140px;
	}
	.nav-text {
		font-size: 12px;
	}
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 900px) and (max-width: 1200px) {
	.content {
		width: 500px;
		margin-left: 140px;
	}
	.nav-text {
		font-size: 12px;
	}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
	.content {
		width: 500px;
		margin-left: 140px;
	}
}